[2013-12-21 13:34] stevermeister opened #1 "add holiday allowance and 13th salary options"

[2013-12-21 13:35] stevermeister opened #2 "create directive for money field"

[2015-03-30 13:06] #2 closed

[2015-03-30 13:07] stevermeister opened #8 "add Loonheffingskorting and Arbeidskorting into calculation"
take values from here:
http://www.expatax.nl/calculations/grosstonet/gross-net.htm

[2015-03-30 13:10] yevgeniyvaleyev opened #9 "Create: mobile adapted basic UI"
Use Bootstrap lib

[2015-03-30 13:13] stevermeister commented on #9
may be foundation? :)

[2015-05-08 18:07] stevermeister commented on #8
hardfix for now

[2015-05-08 18:07] #8 closed

[2015-05-26 08:08] yevgeniyvaleyev commented on #9
http://foundation.zurb.com/ ?

[2015-05-27 20:04] stevermeister commented on #9
yes, may be

[2015-06-24 17:02] #9 closed

[2015-06-24 17:03] stevermeister opened #15 "material design implementation"

[2015-06-24 17:04] stevermeister opened #16 "material design investigation"

[2015-06-25 09:02] yevgeniyvaleyev commented on #16
frameworks -  http://superdevresources.com/material-design-web-ui-frameworks/

[2015-06-25 09:02] yevgeniyvaleyev commented on #16
http://materializecss.com/showcase.html - github stars 10.5K
http://material-ui.com/#/components/dialog - github stars 8.5K

[2015-06-25 09:03] yevgeniyvaleyev commented on #16
http://bootswatch.com/paper/ - 6K

[2015-06-25 09:04] yevgeniyvaleyev commented on #16
http://fezvrasta.github.io/bootstrap-material-design/ - 11.5K

[2015-06-25 09:09] yevgeniyvaleyev commented on #16
I like first two.

[2015-06-25 09:26] stevermeister commented on #16
if we are going to use Angular I think it's reasonable to look at
https://material.angularjs.org

[2015-06-25 10:16] yevgeniyvaleyev commented on #16
let's go for it, deal.

[2015-06-28 20:34] #16 closed

[2015-06-28 20:35] stevermeister commented on #15
@yevgeniyvaleyev just need some prettification

[2015-06-29 06:55] yevgeniyvaleyev commented on #15
I will take a look
On 28 Jun 2015 22:35, "Stepan Suvorov" <notifications@github.com> wrote:

[2015-07-01 07:35] yevgeniyvaleyev opened #18 "Add slide panel"

[2015-07-01 08:29] stevermeister commented on #15
I think we can close this one

[2015-07-01 09:00] yevgeniyvaleyev commented on #15
Yes
On 1 Jul 2015 10:29, "Stepan Suvorov" <notifications@github.com> wrote:

[2015-07-01 21:25] yevgeniyvaleyev commented on #18
done

[2015-07-03 05:28] #15 closed

[2015-07-12 19:38] #18 closed

[2015-11-11 12:45] JaTochNietDan commented on #1
:+1: for the holiday allowance, not sure how you go about calculating that though. Is it just straight up 8% of your gross yearly salary?

[2015-11-14 15:57] stevermeister commented on #1
frankly speaking, still don't know all correct formulas for it. (of course, I'm not telling you about only 8%)
it's so many "specific" cases.
hope I'll figure it out soon.

[2015-11-15 09:45] stevermeister commented on #1
@JaTochNietDan
I've updated the app, please check it now.
btw, I moved it to own domain - thetax.nl

[2015-11-15 21:50] stevermeister commented on #1
already remove it.
there were several users that did not like it

[2015-12-27 15:46] kyranjamie opened #28 "Option to select whether individual holds a Master's degree"
Great job mate! Liking the material & new domain.

Regarding 30% rule checkbox: it'd be great if, when selected, a toggle is displayed allowing you to chose whether or not a Master's degree is held – as stated in the explanation beneath, this changed the sum from which relief is applied.

[2016-01-04 16:26] JaTochNietDan opened #29 "Take 2016 tax changes into account"
The tax changes for 2016 are quite significant. I made the change already for the brackets since that's easy but I have no idea how the credits work...couldn't find any decent explanation on how to calculate your credits. Very confusing.

[2016-01-07 13:47] stevermeister commented on #28
thank you for feedback!

did not get your point about "Master's degree". do you want system to guess whether you have ruling or not?

[2016-01-07 13:58] stevermeister commented on #29
thank you for this pointing out!
I'll update them asap

[2016-01-07 13:59] JaTochNietDan commented on #29
Sweet :+1:, thanks for your work on the credits, spent ages myself trying to figure out how they work but gave up in the end!

[2016-01-07 22:46] stevermeister commented on #29
updated the brackets for 2016 and made it possible to calculate both (2015 and 2016).

[2016-01-07 22:46] #29 closed

[2016-01-09 19:55] kyranjamie commented on #28
Ah sorry, let me try again!

The tax benefit is applied differently depending on education level, as mentioned in the footnote. Earnings from:
-  Without MSc: €36,889
-  With MSc: €28,041

Take the example of, say, a €60000 salary. The tax reduction would apply to income of:
-  Without MSC: €31,959
-  With MSc: €23,111

Given this, the user has to input whether they have a Master's to calculate ne

[2016-01-11 10:43] stevermeister commented on #28
there is already such switcher (if I understand you correctly) and it's called "I have 30% ruling", no?

from where did you get this calculations? may be it's something wrong with mine.

[2016-01-14 13:04] kyranjamie commented on #28
Yes, the option to select 30% rule is there. However, it is important to note you *do not* need a Master's to be eligible for it.

Take the scenario of two people earning 60k, who *both* have 30% ruling. One **has** a Master's degree, the other **does not**.

[This source](http://www.iamsterdam.com/en/local/official-matters/highly-skilled-migrants/thirty-percent-ruling/30-percent-ruling-indepth#co

[2016-01-31 15:32] yevgeniyvaleyev commented on #28
This system doesn't give you an option to guess if you are eligible for ruling.

It uses your CURRENT state. If you already have ruling you just switch that option on.

Decision about ruling is taken by tax department (Belastingdienst). So adding this option you want could lead to misunderstanding for people who calculate their nett salary.

We could add "?" link to Belastingdienst website, so if

[2016-02-01 14:41] kyranjamie commented on #28
Sure, adding more information would indeed be a good idea!

Perhaps I've miscommunicated this though. I am not suggesting we add a `guess whether eligible or not` option. This would not make sense.

The calculation of the net salary with 30% rule **is different depending on education status**. Currently, it makes the assumption you hold an MSc.

The two different conditions are explained in the ab

[2016-02-01 14:49] asizikov commented on #28
@kyranjamie I'm afraid you misunderstood this information. The text on your screenshot says about the minimum salary which one must have to be eligible.
If you have master degree and your taxable income is 37k you'll get the same amount as the person with bachelor degree earning 37k. But the person without master degree will not get 30% if she earns less than 36,7k.

[2016-02-01 15:27] kyranjamie commented on #28
@asizikov Thanks, quick reply!

Hopefully you can elaborate on my misunderstanding.

This information states the **minimum taxable salary** for 2015. The 30% rules allows `up to` 30% of your salary to be paid tax-free. However, it will be a lower percent if 30% off, brings you under the minimum taxable salary limit.

Let's use your example of 37k, where both people qualify (the guy with a Bachelor

[2016-02-01 16:06] asizikov commented on #28
Person A. Earns 40000. When discount applied the taxable income becomes 28,000. If A has master degree and she is under 30 years old she is eligible for the discount.

Person B. Earns 40k. No master degree or/and over 30 y.o. Taxable income ls less then 36k. This person is no eligible. But might get a lower percentage.

Person C. Earns 54k. Taxable income is 37.8. This person is eligible regardles

[2016-02-01 16:40] kyranjamie commented on #28
Person A, B and C all qualify for the ruling.

Why do you say Person B is not eligible? Qualification itself is binary. So, in order to get a lower percentage, they **must** qualify.

Person B does however earn net less than Person A, because of the taxable salary minimum difference. This is the what *could* be calculated, were education level known.

Despite the non-qualification of Person B, I'm

[2016-02-01 16:40] #28 closed

[2016-02-29 22:59] zshamrock commented on #1
So, the final monthly net income, does it include or exclude holiday allowance? Would be nice just to have a small explanatory text, like "incl. or excl. holiday allowance", so we can manually add 8% on top.

[2016-03-01 18:24] stevermeister commented on #1
@zshamrock feel free to make a pull request.
Once I added (8%) it as an option and that made it even more confusing.

[2016-04-05 10:47] andrijeski commented on #1
I don't see the holiday allowance included on thetax.nl

Correct me if I'm wrong, but if the holiday allowance is included in the salary, you only need to divide the gross amount with 1.08 (if the holiday allowance is 8% of the gross salary), then use the result using the existing calculator.

[2016-04-07 09:49] sean-wang-wenfeng commented on #1
@andrijeski  yes, your understanding is correct. I consulted the IND, it indeed calculates in this way.
If the yearly gross is 30,000(before adding holiday allowance), then add 8% holiday allowance is 30k*1.08=32.4k. (32,400)

[2016-04-21 05:53] stevermeister commented on #1
@andrijeski @sean-wang-wenfeng
guys, lets come up with single solution which I will implement.
Should I divide or multiply? Does gross contain holiday allowance? (I think - yes, but it's opposite to last message)

[2016-04-21 08:25] andrijeski commented on #1
@stevermeister to be honest, not sure what's the best way to do.
AFAIK, this depends from the contract. I've seen contracts where holiday allowance is included, and contracts where holiday allowance is on top of the agreed gross salary.

Maybe it is a good idea to add a check box for holiday allowance. For example, if it is checked, holiday allowance is included in the gross. Then you divide the r

[2016-04-23 11:33] stevermeister commented on #1
ok, added.
![screen shot 2016-04-23 at 13 33 03](https://cloud.githubusercontent.com/assets/1526680/14761146/f34ec19a-0957-11e6-8721-e4bea880ca37.png)

enjoy the option ;)

[2016-04-23 11:34] #1 closed

[2016-06-08 19:00] toubou91 opened #31 "Monthly income option"
Hey, nice project!

There are differences among companies: some of them provide a 13th salary, whereas others, a 14th.
For this purpose, except from having to specifically update the holiday allowance (assumption without investigating the code itself) option, it should be also good to provide an option for the end-user to enter his monthly income, instead of restricting him to his annual.

[2016-06-14 06:15] stevermeister commented on #31
@toubou91 ,
thank you for your feedback.
it would be really nice addition and I'll try to include option so set monthly income next release

[2016-06-14 16:23] toubou91 commented on #31
@stevermeister cool, I can also help with this, if we come to an agreement, regarding which fields to hide/show/include for this purpose and also how to provide both options (monthly/annual income) in a visible way to the user.

[2016-06-14 19:35] toubou91 commented on #31
@stevermeister cool, I can also help with this. What I foresee (and please correct me, if I'm getting any of the logistics out of consideration) as a solution for having both options enabled and not a pain for the end-user, is, providing a solution, where:

- Radiobuttons (red signs in the picture below)/ckeckbox (in the same position with the current label for annual income) could be used to togg

[2016-06-25 14:16] stevermeister commented on #31
@toubou91,
I've started branch for it. The logic is pretty tricky and you are welcome to contribute ;)

[2016-07-08 08:35] toubou91 opened #33 "Improve documentation regarding installation"
It would be nice for people (like the one who opened the issue :-) ) that are not 100% into front-end, to also have some documentation regarding the local installation/ build process of the process (i.e. npm and webpack commands to get the project up and running).

[2016-07-14 20:01] thodorisbais opened #34 "Local setup error"
The following screenshot tries to make the argument mentioned on #33 a bit stronger:
![image](https://cloud.githubusercontent.com/assets/5684688/16853787/36edc2ec-4a0e-11e6-8cf5-dd8e05f45464.png)

OS: Windows 8 x64
npm version: 3.9.5

[2016-07-17 17:01] stevermeister commented on #34
@toubou91 can't help you with Windows, sorry.

[2016-07-17 17:03] stevermeister commented on #33
good point.
added several lines of documentation.
please let me know if something is unclear or specify what kind information you want to see there.

[2016-08-01 01:32] Cy-napse commented on #31
Hello stevermeister

Really like your Dutch income tax calculator, so easy and useful! Thanks for this.

I have one question about it, I've been scratching my head trying to understand this: why does the "holiday allowance included" _lower_ the taxable income and the net income?

I may be thinking about this wrong or misunderstanding this (as I'm new to the Dutch tax system, I am considering movin

[2016-08-01 01:33] Cy-napse opened #35 "Effect of "holiday allowance included" button"
Hello stevermeister

Really like your Dutch income tax calculator, so easy and useful! Thanks for this.

I have one question about it, I've been scratching my head trying to understand this: why does the "holiday allowance included" lower the taxable income and the net income?

I may be thinking about this wrong or misunderstanding this (as I'm new to the Dutch tax system, I am considering moving

[2016-08-07 19:46] niklanus commented on #35
Hi @Cy-napse

I'm pretty sure that the holiday allowance checkbox is there for the rare cases when you only know what your salary+holiday allowance is going to be.

You can enter either your annual gross income (and leave the checkbox unchecked) **OR** your annual gross income plus the holiday allowance (and check the checkbox) to calculate your taxable income, and you are going to get the same re

[2016-08-08 06:02] Cy-napse commented on #35
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  Hi Nik
Thank you for your reply and explanation. 
It sounds like you are implying that holiday pay is not taxable income. However I've read that in fact it is — eg,http://www.expatax.nl/kb/article/taxation-of-13th-month-holiday-allow

[2016-08-08 09:13] bdewater opened #36 "Calculated tax credits don't match Belastingdienst examples"
The examples for the [general tax credit](http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/heffingskortingen/algemene_heffingskorting/algemene_heffingskorting_inkomensafhankelijk/tabel_ahk_2016) and the [labour tax credit](http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbel

[2016-08-08 09:16] bdewater commented on #36
Given the comment at https://github.com/stevermeister/dutch-tax-income-calculator/issues/29#issuecomment-169831290 - the links also have the formulas 😄

[2016-08-08 13:45] pablocrivella commented on #36
+1

[2016-08-28 06:29] Bemmu opened #37 "Effect of social security button"
The app should explain a bit what it means to check "social security".

Does it mean that if that is checked, then health insurance cost gets included?

[2016-08-30 07:50] stevermeister commented on #37
good point, I working on next version of the app and will try to cover it there.

it's what usually company pays for you, quite a broad topic. and it's nothing to do with health insurance

[2016-09-04 07:29] stevermeister commented on #37
I'll probably remove this option in new version at all, because in almost all the cases it's ON

[2016-09-04 07:29] #37 closed

[2016-09-04 07:31] stevermeister commented on #34
@toubou91 have you managed to solve it?

[2016-09-04 07:32] #33 closed

[2016-09-04 07:38] stevermeister commented on #35
@Cy-napse

the logic is pretty simple: you have gross year amount and net month amount based on this amount. If you have holiday allowance(that is paid separately) included in your gross amount - it means that you will get less income each month.

so basically when you click "holiday allowance included" it just deduct this amount from you salary.

I agree that it's good to show also amount that wi

[2016-09-04 07:38] #35 closed

[2016-09-04 07:39] stevermeister commented on #31
@toubou91
this functionality will be included in V3, already working on it.
you can check - https://github.com/stevermeister/dutch-tax-income-calculator2 (based on Angular2)

[2016-09-04 09:51] stevermeister commented on #36
@bdewater thank you very much for providing this information!
I've updated the app, please check it now http://thetax.nl/

[2016-09-04 14:18] bdewater commented on #36
@stevermeister in f31309a4fadaf34adbeca7fd0471c93c1123222f only the 2016 numbers were added. The numbers/formulas for 2015 are slightly different, e.g. for 18k gross the general tax credit is 2203.

[2016-09-05 05:59] Bemmu commented on #37
So should it be "Are you self-employed" ?

[2016-09-05 06:48] stevermeister commented on #36
you are right.
completely forgot about it.
already skipped calculations for 2015 for new version - https://github.com/stevermeister/dutch-tax-income-calculator2

do you think it's useful?

[2016-09-05 06:48] stevermeister commented on #37
I think it's something different

[2016-09-14 09:48] bdewater commented on #36
It's not really interesting as other tax rebates probably have a larger impact on your financial life. But if you have a year selector, it should show proper values :)

[2016-09-16 06:52] AddaxSoft opened #38 "security concerns"
I've noticed couple of privacy / security issues:
- URL displays salary info
- no use of HTTPS (TLS/SSL)

Information related to tax / salary is sensitive and needs to be encrypted.

[2016-09-16 06:56] stevermeister commented on #38
@AddaxSoft
thank you for the feedback!

- URL - it was made for convenience if you would like to share the link - would you recommend an alternative way?
- HTTPS - yes, 100% true, I've already bought the certificate, but then realised that github-pages (where it's hosted) are not supporting HTTPS with cursom domain name

[2016-09-16 14:32] AddaxSoft commented on #38
Thanks for your quick reply!

- URL: Yes I do, always pass variables via POST requests - at least the ISP and company logs files won't have your salary :)
- HTTPS: I suggest to buy a domain and host it on your own. If you want to cover the costs put some ads. The idea is quite simple and Google gives your page the best ranking for tax net salary calcuator which should drive lot of traffic to you

[2016-09-16 14:32] AddaxSoft opened #39 "suggestion: collect data to offer avg salary / expectation in the NL market"

[2016-09-17 14:12] stevermeister commented on #39
you just suggested to protect data from being tracked here - https://github.com/stevermeister/dutch-tax-income-calculator/issues/38

and now suggest to track? :)
it's really great to have such stat, but it would be unfair for users, I guess

[2016-09-17 14:12] #39 closed

[2016-09-17 14:26] stevermeister commented on #38
- URL: data is sent via ajax not via url. I'm changing the URL to make it convenient - to send the link to your friend, coworker or recruiter with exact calculations. If you tell me how to keep this convenient option and also make it secure - I'll definitely do it.

- HTTPS: will do it probably after producing version 2 on which I'm currently working on - https://github.com/stevermeister/dutch-tax

[2016-09-20 09:19] pvinis commented on #28
i was looking for that option, because i also understood that with a masters, one would earn net more. after reading the conversation, i still dont know if my and @kyranjamie's understanding is correct or not. i guess we need someone who knows about the dutch tax system.

[2016-09-26 21:10] AddaxSoft commented on #39
data can always be collected for good to make better decision.
Example: collect data anonymously, or give the user to have a chance to share data.

[2016-09-27 06:11] stevermeister commented on #39
ok, when V2 is ready I'll think about it. Thank you for sharing your ideas!

[2016-11-29 14:10] omcgo commented on #28
I know the Dutch tax system and I agree with @kyranjamie and @pvinis.

[2016-11-29 14:57] stevermeister commented on #28
@omcgo you are more than welcome to make a PR :)

[2016-11-30 09:13] pvinis commented on #28
im waiting to get my 30%, and i added that i have a master. when i have it, i will see and hopefully understand and make a pr. i also have to remember!

[2016-11-30 09:38] omcgo commented on #28
Best of luck :)

On Wed, 30 Nov 2016 at 09:13 Pavlos Vinieratos

<
mailto:Pavlos Vinieratos <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

im waiting to get my 30%, and i added that i have a master. when i have it, i will see and hopefully understand and make a pr. i also have to remember!

—

You are receiving this because you were mentioned.

Reply

[2017-01-06 15:40] toubou91 opened #41 "LSEP unicode characters in live version"
Here's what I'm talking about:
![image](https://cloud.githubusercontent.com/assets/5684688/21722801/72d62b50-d42e-11e6-8527-b847522b999b.png)
Without having seen the commits' history, I suspect it happened due to usage of different machines; it is generally encountered in Mac devices and as I have already been facing this issue quite a few times in the past, [this ](http://stackoverflow.com/questi

[2017-01-07 15:18] stevermeister commented on #41
thank you!
it looks like it's fixed, please check

[2017-01-08 08:53] toubou91 commented on #41
Indeed!

[2017-01-08 08:53] #41 closed

[2017-01-23 10:30] jimdsouza commented on #31
@stevermeister Does the monthly income in the present version (when the Holiday Allowance Included radio button is enabled) tell the nett income each month for 12 months? Or 13 months?

Like have you divided the 13th month income by 12 and added it to each for the 12 months to display the monthly netto income?

[2017-01-23 16:00] stevermeister commented on #31
12

[2017-01-23 16:00] #31 closed

[2017-01-26 11:32] JorgeAnzola commented on #38
Or check https://letsencrypt.org/

[2017-01-26 11:52] stevermeister commented on #38
@JorgeAnzola it's great, but currently project is hosted on github pages and for now it does not support https for custom domain names

[2017-01-26 15:03] AddaxSoft opened #42 ""show calculations" feature"
It will be super helpful in case you have to show details of how calculations were made in case of debate between employee and payroll for example.

Thanks!

[2017-01-27 23:45] eduardomourar opened #43 "Calculation issues with 30% ruling not full"
Regarding the 30% facility, as you can check in other websites, there is a possibility of having from 0% to 30% tax free allowance and the tool is not considering it.

In the [Expatax.nl](https://www.expatax.nl/30ruling) they give a lot of information, like this:

I will give a hypothetical case of EUR 39,000 year income in 2017. The tool is giving this with 30% ruling:
![thetax](https://cloud.git

[2017-01-28 01:19] eduardomourar opened #44 "Contract other than 40 hours working week"
There is an improvement to be made to the tool regarding the amount of working hours.

It assumes the 40 hours working week, but other options would be 36, 38 or 45 (and many more). With different working hours, the monthly amount would vary.

Another suggestion would be to, in addition to monthly salary, have it per week, day and hour.

[2017-01-28 12:09] stevermeister commented on #42
completely agree, will keep it for now here and will take in account for next version

[2017-01-28 14:11] stevermeister commented on #44
thank you for you feedback,
I think option that you described is more for advanced mode, that I'm going to implement somewhere in future.

[2017-01-31 13:15] eduardomourar commented on #38
@stevermeister, maybe you can make thetax.nl redirect to the github pages, because pages already accepts HTTPS protocol.

[2017-01-31 19:54] shershen08 opened #45 "Add mobile web app features with manifest.json"
That could add more native-like UI, such as:
 - icon and title for desktop
 - mobile browser top bar colouring
etc.

[2017-02-02 10:03] AddaxSoft commented on #38
I recon the idea of letsencrypt.org - you can get SSL cert and configure your server in less than 10 mnts

[2017-02-02 21:18] stevermeister commented on #45
it's open source, so you are more than welcome to make a PR for it

[2017-02-06 13:00] shershen08 commented on #45
the http://thetax.nl/manifest.json is not available, manifest.json and the icon should be added to build process so that thosa are visible

[2017-02-06 13:15] stevermeister commented on #45
true, thx

[2017-02-19 13:30] amhoff opened #47 "wrong value in getArbeidskorting"
In the fourth if statement of the function getArbeidskorting, the term (salary - 39015) is incorrect: it should be (salary - 34015)

[code]

[2017-02-19 13:42] stevermeister commented on #47
true, thank you

[2017-02-19 13:45] stevermeister commented on #47
updated, please check

[2017-02-19 13:52] #47 closed

[2017-03-10 06:53] koraykupe opened #48 "Wrong Taxable Income when Holiday allowance included selected"
Hi,

Holiday allowance is taxable but when user select the checkbox it reduces amount of Taxable Income. It's wrong.

I saw it on some reliable websites like iamsterdam.com

Quote: "There are special regulations regarding pension premiums, but the bonus, holiday allowance, benefit package and company car fall under the ruling."

[2017-03-12 19:19] stevermeister commented on #48
ok, but it still nothing to do with NET monthly net, right?

I admit that checkbox is pretty confusing: it means that we already have holiday allowance in provided GROSS, so to get TAXABLE AMOUNT we need to deduct it

[2017-03-15 10:28] koraykupe commented on #48
Ok, I think It's confusing. Let's assume my gross salary is 50K (inc holiday allowance) and I have I have 30% ruling. If I select all checkboxes It shows the taxable salary as 32,407. The rule says min taxable income amount must be higher than 37000. So, I am not in 30% rule by this calculation.

We need to calculate 70% of gross salary to find taxable salary.

Quote (by 2016 requirements):

I thi

[2017-03-24 08:26] stevermeister commented on #48
Yes, I agree that it could be confusing.
I removed and then added back this holiday allowance option check several times.

I'll put in my notes for version 2, thank you

[2017-04-15 08:48] giulianovelli opened #50 "Calculations seems wrongs"
Hi,

I was using this calculator to understand how my net salary would be before moving. After checking with other websites that talk about taxation and deductions I am under the impression that the calculations may be wrong. Are you sure the Labour Tax Credit and General Tax Credit are computed the right way depending on the exact salary? Is the 30% rule applied correctly (ie: on the part of the

[2017-04-21 21:42] eduardomourar opened #51 "Webpack error on path in Windows"
This is the error I got when running `npm start` in Windows.
![image](https://cloud.githubusercontent.com/assets/16357187/25297105/191c13ca-26ec-11e7-87dc-d5329a98ca5a.png)

[2017-04-23 08:23] #51 closed

[2017-04-26 08:57] sorohan opened #53 "algemene heffingskorting & arbeidskorting are wrong for 2017"
The numbers for algemene heffingskorting and arbeidskorting are different for 2017.

See the tables here:
https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/heffingskortingen/algemene_heffingskorting/tabel-ahk-2017
https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/h

[2017-05-21 08:45] #36 closed

[2017-05-21 08:45] stevermeister commented on #43
still not implemented

[2017-05-21 08:46] #44 closed

[2017-05-21 08:46] #48 closed

[2017-05-21 08:47] #50 closed

[2017-05-21 08:47] #53 closed

[2017-05-22 02:06] sadokx opened #55 "Holiday allowance checkbox does nothing apparently"
No changes when I click the checkbox.

[2017-05-26 08:30] mzaferyahsi commented on #55
I created a merge request #56 about this. But it needs to be reviewed and merged.

[2017-05-26 11:17] koraykupe commented on #55
I think it is not a bug but the developer may have changed the behaviour regarding to an issue that was argued on #48

It seems still confusing. In my opinion its reason is some companies add the allowance to the net monthly wage but some of them pays it annually. So, if your company adds the allowance to your monthly wage, your calculation is correct. Otherwise you need to type your base salary (

[2017-05-31 20:21] stevermeister commented on #55
sorry guys, I was out offline for sometime.
@sadokx true, thank you for the feedback!
@mzaferyahsi I made a commend about it.
@koraykupe it's so true. I looking for the way to make it simple and clear for everybody

[2017-06-01 11:58] itsbasix commented on #43
Would be really great to have option for ruling and ruling real percentage for under 30 with Master's degree.

[2017-06-01 12:04] BBagnato opened #57 "Add option to select Ruling option for under 30 with Master's degree"
Hi,
thanks for the page and for the latest improvements. I think that the only thing missing is a check box for selecting 30% ruling option for under 30 with master's degree.
Regards and thanks again!

[2017-06-16 06:06] koraykupe commented on #55
It shows € 3,604 as monthly net for 53000 gross and € 3,638 for 58000 gross.
(Holiday allowance included, Social security and 30% ruling selected)

May it be true? I think no.

[2017-06-16 06:15] stevermeister commented on #55
thank you for you feedback,
but it is what it is: Payroll Tax is getting bigger in this case.
if you find exact mistake in calculation, please let me know.

[2017-06-16 06:22] koraykupe commented on #55
@stevermeister but the payroll tax difference is only € 339 between them.

[2017-06-16 06:41] stevermeister commented on #55
yes, true.
is it only for  `Holiday allowance` case?

[2017-06-16 06:45] koraykupe commented on #55
@stevermeister yes, but without Holiday allowance the difference is € 857 as well. Where did €5000 go?

[2017-06-16 06:47] stevermeister commented on #55
@eduardomourar may be you have an idea where we lost 5k?

[2017-06-16 06:50] koraykupe commented on #55
By the way, can real percentage be bigger than 30? It shows 32% for this situation: http://thetax.nl/?year=2017&startFrom=Year&salary=55000&allowance=1&socialSecurity=1&retired=0&ruling=1

[2017-06-17 19:25] stevermeister commented on #55
no, it can't be bigger than 30, it's one more bug :(

[2017-06-17 19:32] stevermeister commented on #55
also related to incorrect holiday allowance

[2017-06-17 19:38] stevermeister commented on #55
I disabled this option for now, while we don't figure out that would be the proper way to implement it also in UX not to may it so confusing

[2017-06-18 10:34] eduardomourar commented on #55
I did some checking to make sure that the calculation were alright:
![image](https://user-images.githubusercontent.com/16357187/27260005-c49281d8-5420-11e7-8be6-1d18b364b559.png)

So, the answer is yes. Even though I am comparing 2015 and 2014, the same logic will apply but tax rates will be different. If you compare only annual amounts (year gross income vs. year net income), adding 5k (58k - 53k

[2017-06-18 10:57] eduardomourar commented on #55
Regarding the 32% real percentage, yes, it is wrong. That is because we were calculating the holiday allowance with normal rates, but it has a special rate for that. This was already fixed with the new version with angular 4.

![image](https://user-images.githubusercontent.com/16357187/27260173-975027d4-5425-11e7-9782-241b56925445.png)

[2017-06-30 08:02] koraykupe commented on #55
@eduardomourar My friend earns 55K gross yearly and gets ~3400 as net monthly (with 30% rule) in practice. It is less than your calculation. I don't know why. His company might pay holiday allowance yearly but he is not sure. He started in March this year. May it be related to it?

By the way,
How income taxes is calculated?
Let's assume that taxable income is 37000
2017 Total rate is 36.55% up to

[2017-06-30 21:58] eduardomourar commented on #55
@koraykupe, first of all, let me be clear that I am not a Dutch tax expert. That being said, there are other tax benefits that this tool doesn't consider like rent benefit, child benefit (that you mentioned and it does effect the overall tax credit, yes) and health care benefit, which might apply to your friend.
Just so you know, I also started to work in the Netherlands March 20th this year, and

[2017-08-17 16:19] simonacca opened #58 "Hour Income is not affected by the weekly working hours input"
## Steps to reproduce:

- insert a sample yearly income, let's say 30.000EUR.
- open "advanced options"
- toggle "hour gross income".
- You will see a value of 28EUR/h for "hour gross income".
- Modify the value of "weekly working hours" from 40 to 20.

## Expected behaviour:

The value for "hour gross income" doubles

## Observed behaviour:

The value for "hour gross income" has not changed

## W

[2017-08-17 16:29] stevermeister commented on #58
can't reproduce.
could you please make a screen recording for this issue?

[2017-08-17 17:32] simonacca commented on #58
Sure, here it is: https://youtu.be/bitAOwQMah0
Basically the second time I highlight text, that should already be a 28, instead of 14, I think.

[2017-08-17 18:14] simonacca commented on #38
I very much like the idea of saving the app's data as a query string, but I am concerned, like you all, about privacy.
So I deployed the app on netlify: https://thetaxnl.netlify.com
@stevermeister If you point the official domain to their servers, they would also provision a certificate for it, for free (letsencrypt). They also integrate with github, so netlify would build the project every time t

[2017-08-17 19:53] stevermeister commented on #58
yes, now I see it, thank you very much!

[2017-08-17 21:34] stevermeister commented on #58
fixed, please check

[2017-08-17 21:36] stevermeister commented on #38
@simonacca that's a great suggestion!
and it was really easy to implement

so now enjoy HTTPS -  https://thetax.nl
🎉 🎉 🎉

[2017-08-17 22:17] simonacca commented on #58
Works perfectly, thank you for fixing this so quickly!

[2017-08-17 22:17] #58 closed

[2017-08-26 17:28] #38 closed

[2017-09-17 21:44] toubou91 opened #59 "[Feature] Contributors section in README.md"
Hello,

Wouldn't it also be nice if we added the list of the users who contributed to this project?

I have created a project which gives you directly the markdown for it, ready to be pasted in your README.  [Check it out!](https://toubou91.github.io/markdown-contributors/)

Cheers,
TB

[2017-09-18 06:46] stevermeister commented on #59
that's great idea!
...
done

[2017-09-20 18:46] #59 closed

[2017-11-03 09:20] inezhynskiy opened #60 "i18n (for ru and other)"
Hi. Is it possible to add russian version of canculator to your site http://thetax.nl ? If you want I can help with translation

[2017-11-04 16:32] stevermeister commented on #60
Hi,

we already working on new version of the app,
you can check beta here - http://beta.thetax.nl/
and the code base is here - https://github.com/stevermeister/dutch-tax-income-calculator2
it would be great if you could check the correctness of Russian translations

[2017-11-10 11:01] andelizondo opened #61 "Add this.ruling.choice = 'young' to be able to calculate 30% ruling for master graduates under 30."
Please add an extra checkbox that changes `this.ruling.choice` from 'normal' (this is default) to 'young'

[2017-11-25 08:25] stevermeister commented on #61
could you provide more details, please?

[2017-11-25 16:20] PWDrew commented on #61
As described at the bottom of your page, If you're below the age of 30 and have a masters your 30% ruling kicks in at 28000, not 37000. But the default in your application is 37000, and cannot be changed.

[2017-11-25 21:11] stevermeister commented on #61
thank you for the feedback!
I got the point, made a hotfix for it: to allow ruling for young age by default

[2017-12-05 07:25] endertunc commented on #61
Hi @stevermeister,  I think we need to fix the issue ASAP because http://thetax.nl is one of the most popular tools there available and people might count on it. With the latest update, the current system might show more than what people really get (like in my case under age 30 without a master degree).

I was thinking of making a PR and looks like (almost) everything there but not just activated

[2017-12-05 07:56] andelizondo commented on #61
I agree with @endertunc, my idea when I created the issue was to include an additional checkbox for people less than 30 and with a masters... but now this options goes by default, which is not correct behavior...

[2017-12-05 08:33] stevermeister commented on #61
Unfortunately, I don't have time for it right now. I made just a hotfix to let it work if you are younger than 30.
@endertunc @andelizondo you are more than welcome to create PR for it.

[2018-02-17 11:38] noloman opened #64 "2018 data"
Hi,

It would be nice to have the calculations for 2018.
Thanks a lot for the work, it is tremendously helpful!

[2018-02-17 19:05] stevermeister commented on #64
yes, sure, here the PR with an update for 2018 - https://github.com/stevermeister/dutch-tax-income-calculator/pull/65/files

still not sure about some numbers so it would be great if you help me to find them

[2018-02-18 09:49] noloman commented on #64
Yes indeed, I think should numbers should be correct, since they are the same as here:
https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/boxen_en_tarieven/overzicht_tarieven_en_schijven/u-hebt-voor-2018-de-aow-leeftijd-bereikt

[2018-02-18 10:32] stevermeister commented on #64
thank you for the link, I've updated all the numbers for 2018

[2018-03-24 11:52] TheBlueSky opened #66 "A note about income tax calculation"
There is something that doesn't seem right here. I compared the numbers from http://thetax.nl/ and https://www.blueumbrella.nl/ (looks like these guys are in tax business) and got the following:

Gross Income: €50,000 | thetax.nl | blueumbrella.nl
--------------- | --------------- | ---------------
Taxable Income | €37,000 | €37,296
Payroll Tax | -€4,849 | N/A
Social Security Tax | -€9,399 | N/A
H

[2018-03-29 14:07] stevermeister commented on #66
@TheBlueSky thank you for verifying the calculations!
The logic is pretty straightforward. Don't know why they have different numbers. Unfortunately, they are not opensource and we cannot check their calculations.

[2018-03-29 14:42] TheBlueSky commented on #66
@stevermeister no issues, maybe their numbers aren't correct.
I checked couple of other websites (some not up-to-date), but got mostly numbers closers to yours.
Thanks.

[2018-03-29 14:42] #66 closed

[2018-04-07 17:00] #64 closed

[2018-05-16 20:26] azr opened #67 "Is one man company taxation the same ?"
If not it would be nice to have it too :D

[2018-05-17 12:56] stevermeister commented on #67
you are welcome to contribute ;)
with solution or documents

[2018-08-06 12:01] andreujuanc opened #69 "Https redirection"
Hello!,
Great webapp you've got here.

Only issue is that even tho server allows https connections, if you request plaintext it wont do automatic redirection to https.

This can be implemented in diferent ways.

Cheers

[2018-08-07 08:24] stevermeister commented on #69
Hi Juan!

good idea!
done.

[2018-08-07 09:10] andreujuanc commented on #69
Great 👍

[2018-08-07 09:10] #69 closed

[2018-09-07 21:33] npiracha opened #70 "Holiday allowance included is greyed out"
I am unable to select the option to include holiday allowance. Is this a temporary issue? Thanks

[2018-09-09 09:27] stevermeister commented on #70
it appeared to be a pretty confusing option: when it's on - does it mean that it's already in gross salary or should it be added on top?

for now, I just disable it till somebody suggest clear UX solution for it

[2018-09-19 16:49] sathishmurugesan opened #71 "Tax Calculation for 2019"
Could you please update calculation to also reflect 2019 tax calculation?

Thanks,
Sathish

[2018-09-19 17:15] stevermeister commented on #71
if you could provide me numbers([here](https://github.com/stevermeister/dutch-tax-income-calculator/blob/master/src/data.json) you can find current ones ) for 2019 I'll do it.
or you can do it yourself and make a nice pull request, it's open source ;)

[2018-09-19 18:11] xthilakx commented on #71
I'll send a pull request for this as soon as I find the numbers.

[2018-09-20 11:43] asyschikov commented on #70
The holiday allowance option is very useful and important, so it would be great if you can enable it. To the point that I just go to Inspect Element and remove the `disabled `attribute and it works perfectly! The simplest solution would be to extend the label to "Holliday allowance is included in the annual gross income". I think it will make it more clear. A better and more complex approach would

[2018-09-25 09:15] stevermeister commented on #70
I love to do applications for developers :)

It could be also tricky, because sometimes allowance is not 8%, right?

But what is exactly your issue?
could you please explain me the use case?
do you have gross year salary and holiday allowance is already there(in this amount)?

[2018-09-27 12:36] PaulineTK opened #73 "The Tax calculator"
Hi
From forein workers i have recieved question about the tax calculated here and the tax on their payslip since there is a difference between them.
How do you calculate the tax payable to the tax office?

For the payslips we have to use the montly tabel provides bij the tax office, the match with the payslips.

Greetings

Pauline

[2018-09-27 12:52] stevermeister commented on #73
it's open source, so you can check the logic -
https://github.com/stevermeister/dutch-tax-income-calculator/blob/master/src/calc/calc.component.js

it goes box-by-box, base on parameters from here:
https://github.com/stevermeister/dutch-tax-income-calculator/blob/master/src/data.json

not sure that I understand you.
All criteria are set from the beginning of the year and final result could be calc

[2018-09-27 15:11] asyschikov commented on #70
@stevermeister The issue is that sometimes you are told the salary with the allowance included sometimes without. If I understand it correctly the difference in the tax calculation and monthly income is this:

- If it is included in the annual total then your monthly net income is `((annual - taxes) - 8%) / 12`.
- If you have the annual total without the holiday allowance then your monthly net inc

[2018-09-30 08:18] stevermeister commented on #73
yes, correct.

But this tax table is not just set of magic numbers they are calculated by specific formulas that I've implemented in my application.

But it's not all. How would now the result from the table if person has tax deduction benefit (for example 30% ruling)?

I think it's better to have good formula with up-to-date coefficients to be more flexible with it.

[2018-10-01 08:17] PaulineTK commented on #73
I do understand that you need to be flexible, however I do not want to
explain that what is calculated on your site is different from what is
actual on the payslips.
For normal wages the first two brackets are too low for wages that do not
have the 30% ruling.
When I tried it in my own wage it also was far to low on the tax to be
paid.

First bracket (whole year) = t/m € 20142 - 36.55% tax
second

[2018-10-01 09:17] stevermeister commented on #73
as you see from here:
https://github.com/stevermeister/dutch-tax-income-calculator/blob/master/src/data.json#L110

I have different percentage for this 2 positions:

could I ask you to send me the link please with description?

[2018-10-01 09:36] stevermeister commented on #73
thank you very much for the information!

I'm using numbers from here
https://www.expatax.nl/tax-rates-2018

so total rate should work the same.

Do you know how to do the calculations?
It would be great if you could give me calculations for your case that did not match mine that I can check it step by step.

[2018-10-01 09:57] PaulineTK commented on #73
Thank you, now it makes more sence for the insurance premium is for all
employees, you cannot not pay it. But then employee should add it to the
amount toe be paid and that is where I also went wrong for I did not
recognise it for what it is.
And yes I do know how to make the calculation for I am a payroll
administrator.
But now if I look to all the tax instead of the payroll tax only, it is
only

[2018-10-01 11:33] stevermeister commented on #73
I'll probably remove this checkbox, not to confuse users.

Thank you one more time for collaboration and I'm glad that now application works for you.

[2018-10-01 11:33] #73 closed

[2018-11-26 21:15] NilsAr commented on #70
I agree, would really like to get the "holiday allowance included" feature back. Many employers (in particular startups) give people the "gross salary _including holiday allowance_" to make the gross salary look larger. My employer does this too and is very annoying.

With the option greyed out, it becomes very difficult to estimate what net income one would get in case of a salary raise including

[2018-12-01 03:11] #43 closed

[2018-12-30 19:08] srid99 commented on #71
@stevermeister created a PR for 2019.

Gathered information from below sites,

rulingThreshold
https://www.belastingdienst.nl/wps/wcm/connect/nl/wonen-of-werken-buiten-nederland/content/voorwaarden-30-procent-regeling

payrollTax (table 1), socialPercent (table 5 and 6), generalCredit (table 2a), labourCredit (table 2a)
https://download.belastingdienst.nl/belastingdienst/docs/nieuwsbrief-loonheffi

[2018-12-31 09:20] stevermeister commented on #71
*Updated.*

Only one small thing, I've already implemented service workers offline cache and now to have new version you need to deregister service worker that is not that convenient :(

[2018-12-31 09:31] srid99 commented on #71
We could have a link in the page to invalidate the service worker cache, something with the solution provided in the link.

https://github.com/GoogleChromeLabs/sw-precache/issues/340#issuecomment-349982432

[2018-12-31 09:43] stevermeister commented on #71
I think it should be more clever way to do updates

[2018-12-31 09:55] stevermeister commented on #71
ok, I've updated the sw version, now it should work :)

[2018-12-31 12:48] joelbasson commented on #71
Thanks for the update. But why does the difference in 2018 vs 2019 not match up to example given here?
https://www.rijksoverheid.nl/onderwerpen/belastingplan/belastingwijzigingen-voor-ons-allemaal/tweeschijvenstelsel-inkomstenbelasting

Use the examples of €35k and €65k

[2018-12-31 12:57] stevermeister commented on #71
could you please make a screenshot of example? I could not find it

[2018-12-31 13:59] joelbasson commented on #71
In the example they give, Sarah earns €65k and should receive €1205 more in 2019 (vs 2018) and €1565 in 2021 (vs 2018).
In your excellent app, the difference is €675
It could also be that my Dutch has let me down (And then this is embarrassing) :)

[2018-12-31 14:10] srid99 commented on #71
@joelbasson thanks for validating. I see what you mean. The information I provided is still based on four-bracket system whereas in rijksoverheid, in the example they used, is using two-bracket system to calculate for 2019. My understanding on two-bracket system is that it will be implemented gradually by 2021. I used the [newsletter from belastingdienst](https://download.belastingdienst.nl/belast

[2018-12-31 14:53] joelbasson commented on #71
In their example https://www.rijksoverheid.nl/onderwerpen/belastingplan/belastingwijzigingen-voor-ons-allemaal/tweeschijvenstelsel-inkomstenbelasting they still have the 4 brackets for 2019, but the first three rates are adjusted to be more similar to each other (36.65%, 38.10% and 38.10%) which should result in a increase of take home pay of €1205 in 2019. Only in 2021 do they switch to 2 bracket

[2019-01-02 11:47] stevermeister commented on #71
@joelbasson I would be happy to fix the bug (if it's there), but I need test data: trusted input and output. From what you are saying I only heard about difference between salaries

[2019-01-19 11:35] evrenesat commented on #70
My company also account holiday allowance in the yearly gross so, with its current form, the calculator doesn't show monthly net salary correctly. The only benefit of the current design is, it signs to the user that what his/her employer is doing is not common or right :) Is this a correct assumption?

[2019-02-11 23:21] srid99 commented on #71
@stevermeister so tested with my Jan month payslip and I see a 3 euro difference (3 euro more than what it's been calculated here). I did the same with Dec 2018 payslip and it had 4 euro difference (with 2018 tax of course, 4 euro more than what's been calculated). So overall it seems to work, not accurate though but good enough.

[2019-06-28 17:35] AchoArnold commented on #45
I think this will be closed by https://github.com/stevermeister/dutch-tax-income-calculator/pull/78

[2019-06-28 18:13] #45 closed

[2019-07-17 22:09] Alevale opened #81 "Car leasing calculation"
Could there be any way to add "car leasing" costs to the calculator?

I know this might be quite tricky, but I wanted to have the calculation of this and there was literally nothing that I could search up to make it.

I am not talking about the normal calculation of the road taxes (which you have underneath the page) but the one that would be taken as "company car" for private use.

Considering th

[2019-07-18 07:06] stevermeister commented on #81
thank you for sharing the idea!
I'll keep it in mind for the next update.
Please provide as much information as possible, ideally with real number examples that I can check calculations

[2019-07-18 09:35] Alevale commented on #81
@stevermeister I'll try to add details here as soon as I have one salary in which this is applied (in quite some months), even though I am no expert in taxes... Still might be better than no information.

Maybe we could have something like a more advanced tax calculator (something for like extra cases, and with switches and such...)

[2019-07-22 07:46] stevermeister opened #82 "Strange calculations with holiday allowance ON"
Hey Stepan,

Was just wondering if you could help answer a query on your tax calculator.

I’m noticing that a gross salary of €55,000 nets the same as a gross salary of €60,000 (including social security, vacation allowance, and 30% ruling).

I also notice that if you earn €58,000 gross you net almost €300/month more than someone earning €59,000 – which to me does not sound right.

Just wondering

[2019-07-22 23:20] Alevale opened #83 "API for calculating the tax amount"
It would be nice to be able to have an API that answers with the results for a providen amount.

Now the way the app works is fine, but if there could be an api, maybe some excel sheets or different tools could be using this to make calculations. OFC there could be issues, but it's still way better than manually having to put the income.

[2019-07-23 07:33] stevermeister commented on #83
@Alevale thank you for sharing your idea!
for now, it's just frontend app with the logic build-in the application,
but I'll keep it issue open, maybe in future I'll have some spare time to bring your idea to life.

[2019-11-01 22:49] FrancescoBorzi opened #85 "44k has bigger net salary than 45k when 30% young enabled"
https://thetax.nl/?salary=44000&ruling=1&socialSecurity=1&year=2019&allowance=1&startFrom=Year&retired=0&rulingChoice=young

https://thetax.nl/?salary=45000&ruling=1&socialSecurity=1&year=2019&allowance=1&startFrom=Year&retired=0&rulingChoice=young

[2019-11-02 08:55] stevermeister commented on #85
that's really strange for some reason you are getting much more tax free for 44k:
https://thetax.nl/?salary=44000&ruling=1&socialSecurity=1&year=2019&allowance=1&startFrom=Year&retired=0&rulingChoice=young
https://thetax.nl/?salary=45000&ruling=1&socialSecurity=1&year=2019&allowance=1&startFrom=Year&retired=0&rulingChoice=young

[2019-11-02 16:51] baitun commented on #85
It seems that the corner case is between annual salary `44263` and `44264`. And it happens, only if `Young employee with masters` selected (`ruling.choice=young`)

[2019-11-02 17:21] baitun commented on #85
It seems that the reason in this code:

https://github.com/stevermeister/dutch-tax-income-calculator/blob/a59e53bd1b5a56a69a6cb9a369287f2439777f4e/src/calc/calc.component.js#L226-L233

(I don't understand exactly what is this magical number`0.3` and why do we subtract taxFreeYear from taxableYear)

[2019-11-04 09:50] stevermeister commented on #85
@baitun thank you for sharing the conclusions of your research.
indeed, that's a strange condition

[2020-01-06 10:14] Dark-Passenger opened #86 "Tax rates for 2020"
Hi,

the tax plan for 2020 is out could you please update the tax rates.

[2020-01-06 18:23] baitun commented on #86
Submitted #87

[2020-01-07 08:33] #86 closed

[2020-01-07 09:46] #34 closed

[2020-01-07 09:47] stevermeister commented on #42
I'm still dreaming of having time to make a nice animation for it :)

[2020-01-07 09:48] stevermeister commented on #57
yes, it's there `Young employee with masters`

[2020-01-07 09:48] #57 closed

[2020-01-07 09:49] #55 closed

[2020-01-07 09:53] #61 closed

[2020-01-07 09:53] #67 closed

[2020-01-07 12:01] #70 closed

[2020-01-07 12:02] stevermeister commented on #81
@Alevale please fill free to add details later, for now, I'll close the issue

[2020-01-07 12:02] #81 closed

[2020-01-07 12:04] stevermeister commented on #82
fixed

[2020-01-07 12:04] #82 closed

[2020-01-07 12:42] stevermeister commented on #85
@baitun I've check the condition - it's correct - it means that if you taxableYear amount is less than rulingIncome requirements - the ruling is not applicable

[2020-01-07 12:56] stevermeister commented on #85
but this one is really strange:

`if (salary.taxableYear < rulingIncome) { // For partial `

I commented it out for now and looks like it works correctly now.

[2020-01-07 12:56] #85 closed

[2020-01-08 17:04] sevilyilmaz opened #91 "The tax brackets are wrong for 2020"
It's announced that there will be 2 brackets (up to € 68,508 37.35%, from € 68,508 49.50%) for 2020. ([ref](https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/boxen_en_tarieven/overzicht_tarieven_en_schijven/u-hebt-in-2020-nog-niet-aow-leeftijd)) which makes the brackets that are added with this commit wrong: 1fd530

[2020-01-09 08:25] stevermeister commented on #91
hm, no low rate tax at all? it looks a bit strange for me.

@baitun could you please join the discussion? as an author of PR with changes for 2020.

[2020-01-09 13:19] baitun commented on #91
I took these numbers from [this site](https://meijburg.com/news/budgetday-2019-changes-payroll-taxes).

I'm not 100% sure how does it work, but in this tax rate, there is also included `National Insurance Contribution`, which is 27.65% and calculated separately (in [social percent section](https://github.com/stevermeister/dutch-tax-income-calculator/blob/03fddd1155a2707d556fb1021d0af9127351f531/sr

[2020-01-09 16:25] tiagofilipe1 commented on #85
By commenting out that condition you have disabled the possibility of having a partial 30% rule (anything from 1 to 29%), thus making the 'Ruling real percentage' option useless.
Could you add the condition back please?

[2020-01-13 13:18] tiagofilipe1 opened #92 "'Ruling Real Percentage' not working"
Hi, I believe you have disabled the option of the partial 30% rule when you commented out the following code:

   if (salary.taxableYear < rulingIncome) { // For partial
     salary.taxFreeYear = grossYear - rulingIncome;
     salary.taxableYear = rulingIncome;
   }

Without this condition, the 30% rule is always either 0 or 30.
However, that is not the real case. It can take any value between 0 a

[2020-01-13 17:59] stevermeister commented on #85
@tiagofilipe1 thank you for your feedback.
for some reason, this condition is the cause of an issue described above.
Could you maybe suggest a solution to cove both cases?

[2020-01-13 17:59] stevermeister commented on #92
answered in https://github.com/stevermeister/dutch-tax-income-calculator/issues/85

[2020-01-14 09:52] tiagofilipe1 commented on #85
I do not have a solution that covers both cases, no.
However, it seems to me that the root of the problem that originated in this topic (44k > 45k) is somewhere else in the code. Removing the condition mentioned above just happens to fix this specific case by breaking a significant and important aspect of the calculations (the partial ruling).

[2020-01-17 05:42] aSemy commented on #92
I believe this code will work to correctly calculate the 30% ruling, but I'm not 100% sure how the ruling works, and it's also difficult for me to tell how this will interact with other options selected.

The basic process comes from [this website](https://www.expatica.com/nl/finance/taxes/the-dutch-30-ruling-explained-101641/ ), and my own notes.

1. Take 70% of the taxable salary. I've named thi

[2020-01-19 11:15] bryancresswell opened #93 "Labour tax credit 2020 calculation"
I am calculating the labour tax for different amounts, and I notice that the labour tax amount algorithm doesn't really match the official calculation as listed here:

https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/heffingskortingen/arbeidskorting/tabel-arbeidskorting-2020

Using the same algorithm for the gener

[2020-01-19 18:20] stevermeister commented on #93
@bryancresswell thank you for your feedback, I think you are right `Labour tax credit` method should be rewritten, if you could make a PR it would be great

[2020-01-19 18:35] stevermeister commented on #91
@sevilyilmaz I'm still trying to figure out what's the correct way here.
just to remove the first bracket is not correct, I guess.
If you compare how it worked for 2019, you will see that it was also this first bracket based on National Insurance
...well basically I just rephrase what @baitun already said

[2020-01-19 18:35] #91 closed

[2020-01-19 18:36] stevermeister commented on #91
@sevilyilmaz fill free to reopen you can give exact case with wrong calculations

[2020-01-20 09:12] stevermeister commented on #92
@aSemy thank you for your contribution.
yes, true, we definitely need to have tests.
I plan to rewrite the code a bit to have logic separately and then cover with tests.

so I've applied your changes, please check.

@tiagofilipe1 please also have a look

[2020-01-20 09:17] aSemy commented on #92
Great, thanks @stevermeister! It looks good to me, and like the issues raised in #85 are resolved.

[2020-01-20 09:19] stevermeister commented on #92
glad to hear.
and I really hope that I'll find some time for tests in the future

[2020-01-26 17:37] eduardomourar commented on #42
With PR #94 , this should be possible by doing some small modification. We can present to the user the brackets and rates used during the calculation.

[2020-01-26 17:52] eduardomourar opened #95 "Add automated testing to project"
@stevermeister, we have already discussed this and I think that is quite important to have automated testing in the project. I have found that the we can download a spreadsheet containing the calculation for multiple salaries in the [belastingdienst website](https://www.belastingdienst.nl/wps/wcm/connect/nl/personeel-en-loon/content/hulpmiddel-loonbelastingtabellen). So this could used to check th

[2020-01-27 12:55] stevermeister commented on #95
Totally agree that we need to implement testing env asap.

Only I don't see a reason to use Jest. Our main focus logic(that calculation is correct), but not interface, right? So we can simply use Karma + Jasmine.

[2020-01-27 13:55] eduardomourar commented on #95
Yes, correct, the calculation is the most important. You can use Jest for the same parts as Karma+jasmine, but it is better (faster and easier) in my opinion (you can check some more details [here](https://www.xfive.co/blog/testing-angular-faster-jest/)). To be honest I would actually move the project to Angular 8 + jest by picking up this repo I was working a long time ago: https://github.com/edu

[2020-01-28 13:51] stevermeister commented on #95
I came to the conclusion that it would be really convenient to have all logic separately with tests like separate npm module that could be used in other projects.

so I've created separate repository - https://github.com/stevermeister/dutch-tax-income-calculator-npm/blob/master/index.js (already with changes suggested in https://github.com/stevermeister/dutch-tax-income-calculator/pull/94)
please

[2020-01-28 16:59] eduardomourar commented on #95
Perfect! I have looked superficially. Let me push some changes to that repo so that we can have the full calculation being performed there (just like we would have if sending request to a backend API)

[2020-01-30 11:45] stevermeister commented on #95
I created an issue for npm one - https://github.com/stevermeister/dutch-tax-income-calculator-npm/issues/2

[2020-02-13 21:02] cmalevris opened #98 "13th cheque"
Hey guys

Love the work you doing making it super easy for us common folk.

I see an option for holiday allowance to be included when calculating which does change the values.

Is it possible to calculate if I add a 13th cheque? Would this calculation just be the same as doubling my salary for the month? No additional tax? Would it make sense to have this option aswell like holiday allowance?

[2020-03-09 08:31] vicsn opened #99 "Holiday allowance included in Taxable Income"
@stevermeister thx for building the nice tool. I'm afraid there might be a mistake in the calculation. Two calls with the Dutch tax authority assured me that the holiday allowance is a part of the `Taxable Income`. I.e. As long as the annual salary including holiday allowance is above the minimum threshold indicated in the `About 30% Ruling` footnotes, employees are eligible. Can you please confir

[2020-03-09 10:36] stevermeister commented on #99
@vicsn you can check test vectors here - https://github.com/stevermeister/dutch-tax-income-calculator-npm/tree/master/__tests__

[2020-03-10 09:31] vicsn commented on #99
@stevermeister may I ask for the source of the test vectors? Two calls with the tax authority confirmed my point, I sent you an email if you want to discuss in more detail without spamming this issue.

[2020-03-10 10:32] stevermeister commented on #99
I think we can ask @eduardomourar, he added them

[2020-03-10 19:34] eduardomourar commented on #99
From https://www.belastingdienst.nl/wps/wcm/connect/nl/personeel-en-loon/content/hulpmiddel-loonbelastingtabellen

[2020-03-11 10:56] vicsn commented on #99
I also see the issue in the calculations, the tax income calculator uses the `Tijdvaktabel` (monthly taxes) for benchmarks but not the `Tabel voor bijzondere beloningen` (yearly taxes). Both the holiday pay and 30% ruling are related to yearly taxes, not the monthly amounts.

I could add the extra table to the unit tests and fix the mistake with regards to the 30% ruling / holiday pay calculations

[2020-03-11 20:45] eduardomourar commented on #99
Just one note, both 30% ruling and holiday allowance can be part of the monthly table if you are paid per month instead of one-off (you can find this in the first "Attention" box of section 7.3.6 and check more details [here](https://www.belastingdienst.nl/bibliotheek/handboeken/html/boeken/HL/stappenplan-stap_7_loonbelasting_premie_volksverzekeringen.html#HL-07.3.6)). So I would say that we can a

[2020-05-23 08:19] nik-kashi opened #101 "Idea: Calculator for CGT (Capital Gain Tax)"
As CGT in the Netherlands has different levels and is hard to calculate, it would be an interesting option.

[2020-05-23 13:21] stevermeister commented on #101
@mohsenkashi could you please provide more details?

[2020-07-16 11:09] achigeor opened #103 "Employer contributions"
Hi, thanks for the great tool!

I have a question regarding the `Payroll Tax` and `Social Security Tax`. Are the amounts that I see on the tool, the total amounts payed by both the employee and employer? Or are there extra costs for the employer other than these two that do not appear in the calculation? For example, if one adds a 50k gross salary, is this total true cost of the employee for the e

[2020-07-20 08:41] #103 closed

[2020-07-20 11:32] stevermeister commented on #103
Hi @achigeor,

thank you for your feedback.
There is always some specific from company to company, but in general - yes -
**gross** - is the total amount that the company pays

I would be happy to guide you with some clear documentation for it, but unfortunately, I didn't find one.

[2020-12-11 05:30] owenversteeg commented on #99
Thank you for building this tool! Lovely simple design.

I can confirm that the calculator is incorrect when checking the "Holiday allowance included" checkbox. I believe the best solution would be to simply delete the checkbox from the page, as people include it in their gross yearly income. I've checked other calculators and this is what they do - no extra checkbox for the 13th month/holiday mon

[2021-02-18 11:21] ianbruton commented on #101
Hi, to try and revive this.

I am looking for something like this for my crypto and stock assets for example.

Also the ability to consider trading that might be taxed at 51% due to certain circumstances.

https://broadstreet.nl/taxation-of-assets-box-3-in-the-netherlands/

[2021-02-18 11:23] ianbruton commented on #101
holding btc over multiple years is taxed differently to day trading if it is classified that you are working at it for an example

[2021-06-24 06:49] tuterbatuhan opened #117 "Ruling Percentage Calculation"
Hi, first of all, thank you for this nice tool, it is great!
I would like to point to something in 30% Ruling percentage calculation.

Please take this calculation as an example for explaining the situation:
![image](https://user-images.githubusercontent.com/14371920/123214416-79160a00-d4c7-11eb-8ccf-d98631871598.png)

You can see that the percentage (24%) is calculated in a way that the Yearly Ta

[2021-08-06 17:47] #42 closed

[2021-08-06 17:53] stevermeister commented on #83
@Alevale now there is an npm package - https://www.npmjs.com/package/dutch-tax-income-calculator
that you can deploy and build your own API based on it.

[2021-08-06 17:53] #83 closed

[2021-08-06 17:53] #92 closed

[2021-08-06 17:53] #93 closed

[2021-08-06 17:54] #95 closed

[2021-08-20 18:51] rlilje opened #118 "Bijtelling addition"
It would be great to add the bijtelling rules to the calculator.

[2021-08-20 19:34] stevermeister commented on #118
@rlilje is something about business car lease, but not income, right?

[2021-08-23 06:39] rlilje commented on #118
HI @stevermeister, This is related to both business car lease and personal income. When I get a company lease car and drive 500km+ per year for personal use, I need to pay an extra tax called bijtelling on the value of the car.
This amount is either 22% for a normal car or 12% for an electric car up to a threshold amount and after that 22%. The percentage is calculated on the value of the car. Thi

[2022-09-11 11:31] DaJackkal opened #131 "Holiday allowance checkbox confusing"
Hey guys,

Is it me or the holiday allowance checkbox is confusing?

Plainly speaking, when I check the checkbox, in order to convey the fact that in my gross yearly income includes the holiday amount (8%, paid monthly rather than an extra payment), the netto monthly income decreases, which I find very odd. Is that a mistake or something is flawed in my own understanding of how that should work? C

[2022-09-30 15:49] aSemy opened #132 "Difficult to click on the 'hours' box, it's covered by another (invisible) element"
It's difficult to select the 'hours' box. It seems that only the bottom half of the input field is clickable

I'm not sure how to demonstrate this, if others aren't able to reproduce the issue.

When I inspect the HTML I think that the label for the box might be too large, but I'm just guessing.

<img width="768" alt="image" src="https://user-images.githubusercontent.com/897017/193308212-9f86504c-

[2022-10-01 10:11] stevermeister commented on #132
@aSemy thank you for your feedback!
I've been already working on the new version, you can check it here - https://thetaxnl2.netlify.app/

[2022-11-08 17:38] pascalwhoop opened #134 "Idea: Make bracket creep visible for Netherlands"
Hi @stevermeister. Thanks for this lean, simple website to calculate taxes! I use it all the time and would like to send a PR as well for the [recently announced changes](https://www.gtlaw.com/en/insights/2022/9/dutch-presented-tax-measures-for-2023) to the taxes in 2023.

## Idea
Should we visualise how due to inflation (which we could add to `data.json`) the purchasing power becomes impaired due

[2022-11-11 20:47] stevermeister commented on #134
Hi @pascalwhoop

thank you for the detailed description.
I understood the idea in general but got lost in spreadsheet details.
How do you see the visualization?

[2022-11-17 16:55] pascalwhoop commented on #134
Well the spreadsheet was just a PoC on the calculation to show that there is significant toll on people's finances due to the inflation and the lack of bracket adjustment.

I wanted to first check: Would you be open/interested in adding this to the project, maybe as a sub-page or a expandable "detailed view" or something. Then we can discuss how the visualisation may look like. I'm happy to chip i